@import url('https://fonts.googleapis.com/css?family=Arsenal|PT+Sans+Narrow');

h1{
  font-size: 50px;
  text-align:center;
  color: #ffb300;

}

h2{
  font-size: 30px;
  text-align:center;
  color: #ff0000;
}

h3{
  font-size: 20px;
  color:#246daa;
  text-decoration: underline;
}

p{
  font-size: 15px;
  font-family: 'PT Sans Narrow', sans-serif;
}


h1, h2, h3{
  font-family: 'Arsenal', sans-serif;
}


body{
  padding: 55px;
  
}
