.header, .footer,.col-md-12 {
    height: 75px;
    min-height: 75px;
    max-height: 75px;
}

#main [class*='col-md-3'] {
    height: 400px;
    min-height: 400px;
    max-height: 400px;
}

#main [class*='col-md-9'] {
    height: 400px;
    min-height: 400px;
    max-height: 400px;
}

.second{
  height: 350px;
  min-height: 350px;
  max-height: 350px;
}

.third{
  height: 90px;
  min-height: 90px;
  max-height: 90px;
}

body{
  font-size: 30px;
  font-weight: bold;
}
