@import url('https://fonts.googleapis.com/css?family=Sansita');

.height1{
  height: 75px;
  min-height: 75px;
  max-height: 75px;
  font-family: 'Sansita', sans-serif;
  font-weight: bold;
  text-align: center;
}

.height2{
  height: 400px;
  min-height: 400px;
  max-height: 400px;
}

.height3{
    height: 250px;
    min-height: 250px;
    max-height: 250px;
}

.bigText{
  font-size: 36px;
  line-height: 75px;
}

.littleText{
  font-size: 20px;
  line-height: 75px;
}

.img{
  width: 100%;
}







.header, .footer{
    height: 75px;
    min-height: 75px;
    max-height: 75px;
}



body{
  font-size: 20px;
  font-weight: bold;
}



.middle{
  height: 600px;
  min-height: 600px;
  max-height: 600px
}


.mainThreeLeft,.mainThreeRight{
  height: 200px;
  min-height: 200px;
  max-height: 200px
}

.mainThreeMiddleTop{
  height: 200px;
  min-height: 200px;
  max-height: 200px
}

.mainThreeMiddleBottom{
  height: 100px;
  min-height: 100px;
  max-height: 100px
}


h1{
  font-size: 30px;
}

p{
  font-size: 13px;
}

img{
  max-width: 100%;
}
